@page
@using CoursePlatform.Common.Additional
@model Authorization
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="course_maintitle">Платформа для онлайн-курсов</h1>
    <div class="course_tabbar">
        <div class="course_tabbar_tab tab_active">
            <h5>Все курсы</h5>
        </div>
        <div class="course_tabbar_tab">
            <h5>В процессе</h5>
        </div>
        <div class="course_tabbar_tab">
            <h5>Пройденные</h5>
        </div>
    </div>
</div>
<section class="course">
    <div class="container">

    </div>
</section>

