@page
@using CoursePlatform.Common.Additional
@model CourseLanding
@{
    ViewData["Title"] = "Home page";
}

<section class="lecture">
    <div class="lecture-wrapper">
        <div class="lecture-menu">
            <ul class="lecture-list">
                <li class="lecture-item">
                    <a href="#" class="lecture-link">1 Глава Введение</a>
                </li>
                <li class="lecture-item">
                    <a href="#" class="lecture-link lecture-active">1 Глава Введение</a>
                </li>
                <li class="lecture-item">
                    <a href="#" class="lecture-link ">1 Глава Введение</a>
                </li>
            </ul>
        </div>
        <div class="lecture-content">
            <div class="lecture-content--wrapper">
                <p class="lecture-content--suptitle">1.3 как не стать скуфом</p>
                <h2 class="lecture-content--title">Крутой курс</h2>
                <p class="lecture-content--description">Альтушка — это девушка с необычной внешностью. Какие фильмы и сериалы она смотрит, какую музыку слушает, чем увлекается и с кем дружит, уже не имеет значения. В молодежном сленге альтушка — это необычная, нестандартная девушка, странная для нормисов.</p>
                <div class="lecture-content--block block">
                    <div class="block-text">

                    </div>
                    <div class="block-video">

                    </div>
                    <div class="block-image">

                    </div>
                    <div class="block-download">

                    </div>
                </div>
            </div>
            <div class="lecture-btn">
            <div class="lecture-btn--back lecture-btn--view">Назад</div>
            <div class="lecture-btn--done lecture-btn--view">Выполненно</div>
            <div class="lecture-btn--next lecture-btn--view">Далее</div>
        </div>
        </div>
    </div>
</section>