@page
@using CoursePlatform.Common.Additional
@model CourseLanding
@{
    ViewData["Title"] = "Home page";
}

<section class="lecture">
    <div class="lecture-wrapper">
        <div class="lecture-menu">
            <ul class="lecture-list">
                <li class="lecture-item">
                    <a href="#" class="lecture-link">
                    <span>1</span>
                    Глава Введение
                    </a>
                </li>
                <li class="lecture-item">
                    <a href="#" class="lecture-link lecture-active">
                    <span>2</span>
                    Глава Введение
                    </a>
                </li>
                <li class="lecture-item">
                    <a href="#" class="lecture-link">
                    <span>3</span>
                    Глава Введение
                    </a>
                </li>
            </ul>
        </div>
        <div class="lecture-content">
            <div class="lecture-content--wrapper">
                <p class="lecture-content--suptitle">1.3 как не стать скуфом</p>
                <h2 class="lecture-content--title">Крутой курс</h2>
                <p class="lecture-content--description">Альтушка — это девушка с необычной внешностью. Какие фильмы и сериалы она смотрит, какую музыку слушает, чем увлекается и с кем дружит, уже не имеет значения. В молодежном сленге альтушка — это необычная, нестандартная девушка, странная для нормисов.</p>
                <div class="lecture-content--block block">
                    <div class="block-text">
                        <p class="block-text--description">
                            Веб-разработка — это процесс создания веб-сайтов и веб-приложений, которые работают через интернет или интранет. Она включает в себя широкий спектр задач, от разработки простых статических страниц с текстом и изображениями до сложных веб-приложений, ориентированных на взаимодействие с пользователями, динамическим контентом и интеграцией с базами данных и другими сервисами. Веб-разработка подразделяется на фронтенд (клиентская сторона) и бэкенд (серверная сторона) разработку. Фронтенд отвечает за все, что пользователь видит и с чем взаимодействует в браузере, тогда как бэкенд обрабатывает данные, выполняет бизнес-логику и отвечает за взаимодействие с базой данных.
                        </p>
                        <p class="block-text--description">
                            Веб-разработка — это процесс создания веб-сайтов и веб-приложений, которые работают через интернет или интранет. Она включает в себя широкий спектр задач, от разработки простых статических страниц с текстом и изображениями до сложных веб-приложений, ориентированных на взаимодействие с пользователями, динамическим контентом и интеграцией с базами данных и другими сервисами. Веб-разработка подразделяется на фронтенд (клиентская сторона) и бэкенд (серверная сторона) разработку. Фронтенд отвечает за все, что пользователь видит и с чем взаимодействует в браузере, тогда как бэкенд обрабатывает данные, выполняет бизнес-логику и отвечает за взаимодействие с базой данных.
                        </p>
                    </div>
                    
                    <div class="block-image">
                        <div class="block-image--photo image-photo">
                            <img src ="/image/online-lessons.jpg" class="image-photo--item"/>
                        </div>
                        <div class="block-image--photo image-photo">
                            <img src ="/image/lesson2.jpg" class="image-photo--item"/>
                        </div>
                    </div>
                    <div class="block-video">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/adz6jPsenBk?si=r17Vv4t1pu9dpvDJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="block-download">
                        <ul class="block-download--list">
                            <li class="block-download--item">
                                <a download class="block-download--link" href="/image/online-lessons.jpg">
                                    <img class="block-downloand--icon" src="/image/pdf.svg">
                                    <span>Обработка дерева</span>
                                </a>
                            </li>
                            <li class="block-download--item">
                                <a download class="block-download--link" href="/image/back-arrow.svg">
                                    <img class="block-downloand--icon" src="/image/pdf.svg">
                                    <span>Глава седьмая, я ебал этот диплом во все щели 24/7s</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="lecture-btn">
                <div class="lecture-btn--back lecture-btn--view">Назад</div>
                <div class="lecture-btn--done lecture-btn--view">Выполненно</div>
                <div class="lecture-btn--next lecture-btn--view">Далее</div>
            </div>
        </div>
    </div>
</section>