@page
@using CoursePlatform.Common.Additional
@model CourseLanding
@{
    ViewData["Title"] = "Home page";
}

<section class="lecture">
    <div class="lecture-wrapper">
        <div class="lecture-menu">
            <ul class="lecture-list">
                @foreach (var lecture in Model.Course.Lectures.OrderBy(l => l.OrderInCourse))
                {
                    <li class="lecture-item">
                        <a href="/CourseLanding?courseid=@Model.Course.Id&lectureid=@lecture.Id" class="lecture-link lecture-active">
                            <span>@lecture.OrderInCourse</span>
                            @lecture.Title
                        </a>
                    </li>
                }
@*                 <li class="lecture-item">
                    <a href="#" class="lecture-link">
                    <span>1</span>
                    Глава Введение
                    </a>
                </li>
                <li class="lecture-item">
                    <a href="#" class="lecture-link lecture-active">
                    <span>2</span>
                    Глава Введение
                    </a>
                </li>
                <li class="lecture-item">
                    <a href="#" class="lecture-link">
                    <span>3</span>
                    Глава Введение
                    </a>
                </li> *@
            </ul>
        </div>
        <div class="lecture-content">
            <div class="lecture-content--wrapper">
                <p class="lecture-content--suptitle">2 Введение в SQL</p>
                <h2 class="lecture-content--title">Крутой курс</h2>
                <p class="lecture-content--description">SQL — декларативный язык программирования, применяемый для создания, модификации и управления данными в реляционной базе данных, управляемой соответствующей системой управления базами данных.</p>
                <div class="lecture-content--block block">
                    
                    <div class="block-test test">
                        <ul class="test-list">
                            <li class="test-item">
                                <div class="test-question">
                                    <h2 class="test-question--title">Что такое SQL?</h2>
                                </div>
                                <div class="test-answer">
                                    <form action="#" class="test-answer--form">
                                        <input checked="" value="a" name="hopping" type="radio" id="a">
                                        <label for="a"><span></span>Инструмент</label>
                                        <input value="b" name="hopping" type="radio" id="b">
                                        <label for="b"><span></span>Проект</label>
                                        <input value="c" name="hopping" type="radio" id="c">
                                        <label for="c"><span></span>Не знаю</label>
                                        <div class="test-answer--worm worm">
                                            <div class="worm-segment"></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="test-item">
                                <div class="test-question">
                                    <h2 class="test-question--title">Что такое SELECT?</h2>
                                </div>
                                <div class="test-answer">
                                    <form action="#" class="test-answer--form">
                                        <li class="test-answer--checkbox test-checkbox">
                                            <label class="test-checkbox--container">
                                                <input type="checkbox" checked="checked">
                                                <div class=" test-checkbox--line"></div>
                                                <div class="test-checkbox--line line-indicator"></div>
                                            </label>
                                            <span class="test-checkbox--answer">Один из запросов в SQL</span>
                                        </li>
                                        <li class="test-answer--checkbox test-checkbox">
                                            <label class="test-checkbox--container">
                                                <input type="checkbox" checked="checked">
                                                <div class=" test-checkbox--line"></div>
                                                <div class="test-checkbox--line line-indicator"></div>
                                            </label>
                                            <span class="test-checkbox--answer">Запрос-фильтрация</span>
                                        </li>
                                        <li class="test-answer--checkbox test-checkbox">
                                            <label class="test-checkbox--container">
                                                <input type="checkbox" checked="checked">
                                                <div class=" test-checkbox--line"></div>
                                                <div class="test-checkbox--line line-indicator"></div>
                                            </label>
                                            <span class="test-checkbox--answer">Не знаю</span>
                                        </li>
                                        
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-text">
                        <p class="block-text--description">
                            Веб-разработка — это процесс создания веб-сайтов и веб-приложений, которые работают через интернет или интранет. Она включает в себя широкий спектр задач, от разработки простых статических страниц с текстом и изображениями до сложных веб-приложений, ориентированных на взаимодействие с пользователями, динамическим контентом и интеграцией с базами данных и другими сервисами. Веб-разработка подразделяется на фронтенд (клиентская сторона) и бэкенд (серверная сторона) разработку. Фронтенд отвечает за все, что пользователь видит и с чем взаимодействует в браузере, тогда как бэкенд обрабатывает данные, выполняет бизнес-логику и отвечает за взаимодействие с базой данных.
                        </p>
                        <p class="block-text--description">
                            Веб-разработка — это процесс создания веб-сайтов и веб-приложений, которые работают через интернет или интранет. Она включает в себя широкий спектр задач, от разработки простых статических страниц с текстом и изображениями до сложных веб-приложений, ориентированных на взаимодействие с пользователями, динамическим контентом и интеграцией с базами данных и другими сервисами. Веб-разработка подразделяется на фронтенд (клиентская сторона) и бэкенд (серверная сторона) разработку. Фронтенд отвечает за все, что пользователь видит и с чем взаимодействует в браузере, тогда как бэкенд обрабатывает данные, выполняет бизнес-логику и отвечает за взаимодействие с базой данных.
                        </p>
                    </div>
                    
                    <div class="block-image">
                        <div class="block-image--photo image-photo">
                            <img src ="/image/online-lessons.jpg" class="image-photo--item"/>
                        </div>
                        <div class="block-image--photo image-photo">
                            <img src ="/image/lesson2.jpg" class="image-photo--item"/>
                        </div>
                    </div>
                    <div class="block-video">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/adz6jPsenBk?si=r17Vv4t1pu9dpvDJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="block-download">
                        <ul class="block-download--list">
                            <li class="block-download--item">
                                <a download class="block-download--link" href="/image/online-lessons.jpg">
                                    <img class="block-downloand--icon" src="/image/pdf.svg">
                                    <span>Обработка дерева</span>
                                </a>
                            </li>
                            <li class="block-download--item">
                                <a download class="block-download--link" href="/image/back-arrow.svg">
                                    <img class="block-downloand--icon" src="/image/pdf.svg">
                                    <span>Материал к лекции</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="lecture-btn">
                <div class="lecture-btn--back lecture-btn--view">Назад</div>
                <div class="lecture-btn--done lecture-btn--view">Выполненно</div>
                <div class="lecture-btn--next lecture-btn--view">Далее</div>
            </div>
        </div>
    </div>
</section>