@page
@model NewCourse
@{
    ViewData["Title"] = "Create Course";
}

<section class="create-course">
    <div class="container">
        <div class="create-course--wrapper">
            <h2 class="create-course--title">Создание курса</h2>

            <form class="create-course--form create-form" method="post">
                <div class="create-form--group">
                    <label asp-for="Name" class="control-label">Название курса</label>
                    <input asp-for="Name" class=" form-input" />
                </div>
                <div class="create-form--group">
                    <label asp-for="Description" class="control-label">Описание курса</label>
                    <textarea asp-for="Description" class="form-input"></textarea>
                </div>
                <div class="create-form--group">
                    <label asp-for="Complexity" class="control-label">Сложность</label>
                    <select asp-for="Complexity" class="form-input">
                        <option value="1">Light</option>
                        <option value="2">Medium</option>
                        <option value="3">Hard</option>
                    </select>
                </div>
                <div class="create-form--checkbox">
                    <label class="category-label">Категории</label>
                    <div class="category-block">
                        
                        <div class="category-checkboxs checkbox">
                            @foreach (var category in Model.Categories)
                            {
                                <div class="checkbox-wrapper">
                                    <label class="checkbox-container">
                                        <input class="custom-checkbox" type="checkbox" name="CategoriesIds" value="@category.Id" />
                                        <span class="checkmark"></span>
                                        <label class="checkbox-label">@category.Name</label>
                                    </label>
                                </div>

                                
                            }
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-save">Создать</button>
            </form>
        </div>
    </div>
</section>
